<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Licores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        .navbar-custom {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        .navbar-brand-custom {
            font-weight: bold;
        }
        .search-bar {
            flex: 1;
        }
        .category-menu {
            background-color: #226dc2;
        }
        .category-menu a {
            color: #fff;
            text-transform: uppercase;
        }
        .category-menu .nav-link {
            margin: 0 10px; 
        }




      


    .footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
           
        }
        .footer a {
            color: #fff;
        }
        .footer .icon {
            font-size: 20px;
        }
        .social-icons img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }





        

        
        .bg-header {
            background-color: #39b9a0;
            color: white;
        }
        .bg-footer {
            background-color: #f8f9fa;
        }

        .b_whatsaap {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 1000;
    animation: bounce 1s infinite;
}

.b_whatsaap img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(30, 200, 55, 0.2);
    transition: transform 0.3s;
}

.b_whatsaap img:hover {
    transform: scale(1.1);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}


    </style>
</head>
<body>

    
    <header>
   
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid d-flex justify-content-center align-items-center ">

                    <a class="navbar-brand navbar-brand-custom mx-3" href="#">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcOg8Ax5g9goNiTXPtuLwE23JPqOtrO3VSEQ&s" style="width: 50px; height: 40px;" alt="">       JC LICORES </a>
                    <form class="d-flex search-bar mx-3">
                        <input class="form-control me-2" type="search"
                            placeholder="Busca productos, categorías o marcas" aria-label="Search">
                        <button class="fa-solid fa-magnifying-glass" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <div class="dropdown mx-3 ">
                        <button class="btn btn-light dropdown-toggle" type="button" id="accountDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Cuenta
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item" href="login1.html">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="https://apps.apple.com/us/app/licores-mundiales/id1473051773" target="_blank">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-outline-secondary mx-3 fa-solid fa-cart-shopping" href="carrito.html"><i
                            class="bi bi-cart "></i> </a>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg category-menu">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="pagina_principal.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="Whisky.html">Whisky</a></li>
                            <li class="nav-item"><a class="nav-link" href="Vinos.html">Vinos</a></li>
                            <li class="nav-item"><a class="nav-link" href="Burbujas.html">Burbujas</a></li>
                            <li class="nav-item"><a class="nav-link" href="Ron.html">Ron</a></li>
                            <li class="nav-item"><a class="nav-link" href="Vodka.html">Vodka</a></li>
                            <li class="nav-item"><a class="nav-link" href="tequila.html">Tequilas</a></li>
                            <li class="nav-item"><a class="nav-link" href="Pisco.html">Pisco</a></li>
                            <li class="nav-item"><a class="nav-link" href="Cerveza.html">Cervezas</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        </nav>
    </header>
    


 


<main>
    

   
    <div class="container my-5" style="width: 65%; font-family: 'Times New Roman', Times, serif; font-size: 16px;">
        <h1 class="text-center mb-4" style="color: red; font-size: 45px;">Política de Privacidad</h1>
        <p class="text-center" style="font-size: 20px;">En JC Licores, nos tomamos muy en serio tu privacidad. Esta política de privacidad
             describe cómo recopilamos, utilizamos y protegemos tu información personal cuando visitas nuestro sitio
              web y utilizas nuestros servicios.</p>

        <div class="accordion" id="privacyPolicyAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <h5> 1. Información que Recopilamos</h5>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Podemos recopilar la siguiente información personal cuando realizas un pedido o te registras en nuestro sitio:</p>
                        <ul>
                            <li>Nombre y apellidos</li>
                            <li>Dirección de correo electrónico</li>
                            <li>Dirección de envío</li>
                            <li>Número de teléfono</li>
                            <li>Información de pago (tarjeta de crédito/débito, etc.)</li>
                        </ul>
                        <p>También podemos recopilar información sobre tu uso de nuestro sitio web, 
                            como tu dirección , tipo de navegador, tiempos de acceso y páginas visitadas.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h5>  2. Uso de la Información</h5>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Utilizamos la información recopilada para los siguientes fines:</p>
                        <ul>
                            <li>Procesar y completar tus pedidos</li>
                            <li>Mejorar nuestro sitio web y servicios</li>
                            <li>Enviar correos electrónicos de confirmación y actualizaciones sobre tus pedidos</li>
                            <li>Proporcionar atención al cliente y soporte</li>
                            <li>Enviar promociones, ofertas especiales y otra información que pueda ser de tu interés</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       <h5> 3. Protección de la Información</h5>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Implementamos una variedad de medidas de seguridad para mantener la 
                            seguridad de tu información personal. Utilizamos tecnología de encriptación
                             para proteger los datos sensibles transmitidos en línea y mantenemos procedimientos
                              internos para proteger tu información fuera de línea.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5>4. Divulgación a Terceros</h5>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>No vendemos, intercambiamos ni transferimos tu información 
                            personal a terceros sin tu consentimiento, excepto para los
                             fines de prestar nuestros servicios, como el procesamiento 
                             de pagos y la entrega de pedidos. Podemos divulgar tu información 
                             cuando creemos que es apropiado para cumplir con la ley, hacer cumplir
                              nuestras políticas del sitio o proteger nuestros derechos, propiedad o seguridad.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h5>  5. Cookies</h5>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Nuestro sitio web utiliza cookies para mejorar tu experiencia de usuario.
                             Las cookies son pequeños archivos de texto que un sitio web transfiere a 
                             tu computadora a través de tu navegador web y que permiten al sitio web 
                             reconocer tu navegador y capturar y recordar cierta información. Puedes
                              elegir que tu computadora te advierta cada vez que se envía una cookie,
                               o puedes optar por desactivar todas las cookies. Esto se hace a través 
                               de la configuración de tu navegador. Si desactivas las cookies, algunas
                                funciones de nuestro sitio web pueden no funcionar correctamente.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                       <h5> 6. Enlaces a Terceros</h5>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Ocasionalmente, a nuestra discreción, podemos incluir 
                            u ofrecer productos o servicios de terceros en nuestro
                             sitio web. Estos sitios de terceros tienen políticas 
                             de privacidad separadas e independientes. Por lo tanto,
                              no tenemos ninguna responsabilidad por el contenido y 
                              las actividades de estos sitios enlazados. No obstante,
                               buscamos proteger la integridad de nuestro sitio y 
                               agradecemos cualquier comentario sobre estos sitios.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <h5>7. Tu Consentimiento</h5>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Al utilizar nuestro sitio, consientes nuestra política de privacidad.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                       <h5> 8. Cambios o actualizaciones en Nuestra Política de Privacidad</h5>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>JC Licores se reserva el derecho de actualizar o modificar esta política de privacidad 
                            en cualquier momento. Cualquier cambio será publicado en esta página. Te recomendamos que 
                            revises periódicamente esta política para estar informado sobre cómo protegemos tu información.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed bg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                       <h5> 9. Contacto</h5>
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#privacyPolicyAccordion">
                    <div class="accordion-body">
                        <p>Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos 
                            utilizando la información a continuación:</p>
                        <p><strong>JC Licores</strong></p>
                        <p>Correo electrónico: josexitorap♠4gmail.com</p>
                        <p>  +51901267943</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="b_whatsaap">
        <a href=" https://w.app/i3a7vS" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjaNzRXVVvpTaJO0OnLNF7jbkCAlulF_myGg&s" alt="WhatsApp">
        </a>
    </div>
</main>

    
       



        <footer class="bg-dark text-white mt-5 p-4 text-center">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h5>Sobre Nosotros</h5>
                        <p>Somos una empresa de gran reconocimiento por nuestro envios rapidos y precios comodos
                            Contamos con varias sucursales dentro del pais.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Enlaces Rápidos</h5>
                        <ul class="list-unstyled">
                            <li><a href="pagina_principal.html" class="text-white"  style="text-decoration: none;">Inicio</a></li>
                            <li><a href="Libro.html" class="text-white"  style="text-decoration: none;">Libro de Reclamaciones</a></li>
                            <li><a href="Terminos.html" class="text-white"  style="text-decoration: none;">Términos y Condiciones</a></li>
                            <li><a href="Politica.html" class="text-white"  style="text-decoration: none;">Política de Privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Contáctanos</h5>
                        <p>Email: <a href="mailto:soportesistemanotas@gmail.com" class="text-white"  style="text-decoration: none;">JCLicores@gmail.com</a></p>
                        <p>Teléfono: <a href="tel:901267943" class="text-white"  style="text-decoration: none;"> 901267943</a></p>
                        <div class="social-icons mt-2 " >
                            <a href="https://web.whatsapp.com/" target="_blank" class="me-4" >
                                <i class="fa-brands fa-whatsapp" style="font-size: 35px; "></i>
                            </a>
                            <a href="https://www.facebook.com/josec.ramirez.718" target="_blank"  class="me-4">
                                <i class="fa-brands fa-facebook" style="font-size: 35px;"></i>
                            </a>
                            <a href="https://www.instagram.com/josec_ramirezramos/" target="_blank"  class="me-4">
                                <i class="fa-brands fa-instagram" style="font-size: 35px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="bg-white">
                <p class="mb-0">&copy; 2024  JC Licores. Todos los derechos reservados a nuestra empresa.</p>
            </div>
        </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>