<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Licores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        .navbar-custom {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        .navbar-brand-custom {
            font-weight: bold;
        }
        .search-bar {
            flex: 1;
        }
        .category-menu {
            background-color: #226dc2;
        }
        .category-menu a {
            color: #fff;
            text-transform: uppercase;
        }
        .category-menu .nav-link {
            margin: 0 10px;
        }




      


    .footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
           
        }
        .footer a {
            color: #fff;
        }
        .footer .icon {
            font-size: 20px;
        }
        .social-icons img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }





        .section-header {
            background-color: black;
            color: white;
            padding: 10px;
        }

       
        .b_whatsaap {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 1000;
    animation: bounce 1s infinite;
}

.b_whatsaap img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(30, 200, 55, 0.2);
    transition: transform 0.3s;
}

.b_whatsaap img:hover {
    transform: scale(1.1);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
    </style>
</head>
<body>

    
    <header>
      
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid d-flex justify-content-center align-items-center ">

                    <a class="navbar-brand navbar-brand-custom mx-3" href="#">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcOg8Ax5g9goNiTXPtuLwE23JPqOtrO3VSEQ&s" style="width: 50px; height: 40px;" alt="">       JC LICORES </a>
                    <form class="d-flex search-bar mx-3">
                        <input class="form-control me-2" type="search"
                            placeholder="Busca productos, categorías o marcas" aria-label="Search">
                        <button class="fa-solid fa-magnifying-glass" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <div class="dropdown mx-3 ">
                        <button class="btn btn-light dropdown-toggle" type="button" id="accountDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Cuenta
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item" href="login1.html">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="https://apps.apple.com/us/app/licores-mundiales/id1473051773" target="_blank">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-outline-secondary mx-3 fa-solid fa-cart-shopping" href="carrito.html"><i
                            class="bi bi-cart "></i> </a>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg category-menu">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="pagina_principal.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="Whisky.html">Whisky</a></li>
                            <li class="nav-item"><a class="nav-link" href="Vinos.html">Vinos</a></li>
                            <li class="nav-item"><a class="nav-link" href="Burbujas.html">Burbujas</a></li>
                            <li class="nav-item"><a class="nav-link" href="Ron.html">Ron</a></li>
                            <li class="nav-item"><a class="nav-link" href="Vodka.html">Vodka</a></li>
                            <li class="nav-item"><a class="nav-link" href="tequila.html">Tequilas</a></li>
                            <li class="nav-item"><a class="nav-link" href="Pisco.html">Pisco</a></li>
                            <li class="nav-item"><a class="nav-link" href="Cerveza.html">Cervezas</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        </nav>
    </header>
    


 


<main>
    

   
    <div class="container my-5" style="width: 60%; font-family: 'Times New Roman', Times, serif;">
        <h1 class="text-center mb-4" style="color: rgb(236, 29, 29); ">Términos y Condiciones</h1>
        <h5 style="color: rgb(4, 5, 18);">Bienvenido a nuestra tienda en línea de licorería. Al utilizar nuestro sitio web, usted acepta los
             siguientes términos y condiciones:</h5>

        <h2>1. Generalidades y Uso del Sitio</h2>
        <p>El acceso y uso de este sitio web y los productos y servicios disponibles a través del mismo están sujetos a los siguientes términos, condiciones y avisos. Al utilizar los servicios, usted acepta todos los términos de servicio, que pueden ser actualizados por nosotros de vez en cuando. Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas tan pronto como se publiquen en el sitio. Es tu responsabilidad revisar regularmente los términos y condiciones para estar al tanto de cualquier cambio. Tu uso continuado del sitio web después de cualquier cambio en los términos y condiciones constituye tu aceptación de dichos cambios.</p>

        <p>Al acceder a nuestro sitio web, te comprometes a utilizarlo únicamente con fines legales. No debes utilizar nuestro sitio de ninguna manera que pueda dañar, deshabilitar, sobrecargar o deteriorar el sitio o interferir con el uso de cualquier otra parte del mismo. Está prohibido transmitir cualquier material que sea ilegal, dañino, amenazante, abusivo, hostigador, difamatorio, vulgar, obsceno, ofensivo, odioso, racial, étnico o de cualquier otra forma objetable.</p>

        <h2>2. Edad Legal y Proceso de Compra</h2>
        <p>Debes tener al menos 18 años para comprar productos alcohólicos en nuestra tienda en línea. Al realizar una compra, confirmas que tienes la edad legal para consumir alcohol en tu país de residencia. Nos reservamos el derecho de solicitar una prueba de edad antes de procesar un pedido.</p>

        <p>Para realizar una compra, deberás seguir el procedimiento de compra en línea y aceptar el precio y la descripción de los productos. Nos reservamos el derecho de rechazar cualquier pedido por diversas razones, incluyendo disponibilidad del producto o problemas con la información del pago. Una vez realizado el pedido, recibirás un correo electrónico de confirmación. Este correo electrónico no significa que tu pedido haya sido aceptado. Nuestro contrato para la compra de productos no se formaliza hasta que enviemos los productos a la dirección indicada.</p>

        <p>Todos los precios están en la moneda local y son finales. Nos reservamos el derecho de cambiar los precios en cualquier momento sin previo aviso. Los pagos deben realizarse mediante los métodos de pago disponibles en el sitio. Aceptamos tarjetas de crédito, tarjetas de débito y otros métodos de pago electrónicos. Al proporcionar los datos de pago, confirmas que tienes derecho a utilizar la tarjeta de crédito o débito utilizada para realizar la compra.</p>

        <h2>3. Envíos, Devoluciones y Disponibilidad de Productos</h2>
        <p>Nos esforzamos por realizar entregas dentro del tiempo estimado, pero no podemos garantizar fechas específicas de entrega. Los tiempos de entrega pueden variar según la disponibilidad del producto y la ubicación del cliente. En caso de problemas con tu pedido, contáctanos para resolver cualquier inconveniente. Aceptamos devoluciones de productos no abiertos y en buen estado dentro de los 14 días posteriores a la entrega. Los costos de envío de la devolución correrán por cuenta del cliente, a menos que el producto esté defectuoso o hayamos enviado el producto incorrecto.</p>

        <p>Todos los pedidos de productos están sujetos a disponibilidad. Si por alguna razón un producto que has pedido no está disponible, nos pondremos en contacto contigo para ofrecerte una solución alternativa, que puede incluir esperar a que el producto esté disponible nuevamente, cambiarlo por otro producto o cancelar tu pedido con un reembolso completo.</p>

        <h2>4. Responsabilidad y Propiedad Intelectual</h2>
        <p>No seremos responsables por cualquier pérdida o daño que no sea razonablemente previsible como resultado de un incumplimiento de estos términos. Nada en estos términos excluye o limita nuestra responsabilidad por fraude, por muerte o lesiones personales causadas por negligencia, o por cualquier otra responsabilidad que no pueda ser excluida o limitada por la ley aplicable.</p>

        <p>Todo el contenido incluido en este sitio, como textos, gráficos, logotipos, imágenes, clips de audio, compilaciones de datos y software, es propiedad de nuestra tienda o de sus proveedores de contenido y está protegido por las leyes de derechos de autor internacionales. La compilación de todo el contenido de este sitio es propiedad exclusiva de nuestra tienda y está protegida por las leyes internacionales de derechos de autor.</p>

        <h2>5. Privacidad y Seguridad</h2>
        <p>Nos tomamos muy en serio tu privacidad. Por favor, revisa nuestra Política de Privacidad para entender cómo recopilamos, usamos y protegemos tu información personal. Hemos implementado medidas técnicas y organizativas para proteger tu información personal contra pérdida, uso indebido y acceso no autorizado. Sin embargo, no podemos garantizar que terceros no autorizados nunca puedan superar esas medidas o utilizar tu información personal para fines indebidos.</p>

        <div class="text-center mt-4">
            <a href="#" class="btn btn-primary">Acepto todos los terminos y condiciones</a>
        </div>
    </div>

    <div class="b_whatsaap">
        <a href=" https://w.app/i3a7vS" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjaNzRXVVvpTaJO0OnLNF7jbkCAlulF_myGg&s" alt="WhatsApp">
        </a>
    </div>
</main>

    
       



        <footer class="bg-dark text-white mt-5 p-4 text-center">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h5>Sobre Nosotros</h5>
                        <p>Somos una empresa de gran reconocimiento por nuestro envios rapidos y precios comodos
                            Contamos con varias sucursales dentro del pais.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Enlaces Rápidos</h5>
                        <ul class="list-unstyled">
                            <li><a href="pagina_principal.html" class="text-white"  style="text-decoration: none;">Inicio</a></li>
                            <li><a href="Libro.html" class="text-white"  style="text-decoration: none;">Libro de Reclamaciones</a></li>
                            <li><a href="Terminos.html" class="text-white"  style="text-decoration: none;">Términos y Condiciones</a></li>
                            <li><a href="Politica.html" class="text-white"  style="text-decoration: none;">Política de Privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Contáctanos</h5>
                        <p>Email: <a href="mailto:soportesistemanotas@gmail.com" class="text-white"  style="text-decoration: none;">JCLicores@gmail.com</a></p>
                        <p>Teléfono: <a href="tel:901267943" class="text-white"  style="text-decoration: none;"> 901267943</a></p>
                        <div class="social-icons mt-2 " >
                            <a href="https://web.whatsapp.com/" target="_blank" class="me-4" >
                                <i class="fa-brands fa-whatsapp" style="font-size: 35px; "></i>
                            </a>
                            <a href="https://www.facebook.com/josec.ramirez.718" target="_blank"  class="me-4">
                                <i class="fa-brands fa-facebook" style="font-size: 35px;"></i>
                            </a>
                            <a href="https://www.instagram.com/josec_ramirezramos/" target="_blank"  class="me-4">
                                <i class="fa-brands fa-instagram" style="font-size: 35px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="bg-white">
                <p class="mb-0">&copy; 2024  JC Licores. Todos los derechos reservados a nuestra empresa.</p>
            </div>
        </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>